{% include "menu.html" %}

{{ value|linebreaks }}
{% block content %}

<h3>Catalog: {{ catalog }}</h3>
{{ value|linebreaks }}

<script>
$("[data-toggle=popover]")
.popover({html:true})
</script>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Backup id</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">OS</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for section, value in backups.items %}
      {% if value.status == "23" or value.status == "24" %}
    <tr class="table-warning">
      {% elif value.status != "0" %}
    <tr class="table-danger">
      {% else %}
    <tr>
      {% endif %}
      <td><a href="#" role="button" class="btn popovers" data-toggle="popover" title="" data-content="test content <a href='' title='test add link'>link on content</a>" data-original-title="test title">{{ section }}</a></td>
      <td>{{ value.name }}</td>
      <td>{{ value.type }}</td>
      <td>{{ value.os }}</td>
      <td>{{ value.timestamp }}</td>
      <td>{{ value.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}