{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <img src="https://butterfly-backup.readthedocs.io/en/latest/_static/bb_logo.svg" alt="Butterfly Backup" width="150" height="150" class="mb-3"/>
          <h2 class="card-title mb-4">Login to Butterfly Backup</h2>
          
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form field_class="col-12" %}
            {% buttons submit='Log In' reset="Cancel" %}{% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}