<!DOCTYPE html>
<html lang="en">

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>
  <title>Butterfly Backup</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdn.datatables.net/v/dt/dt-2.3.2/datatables.js"></script>
  <script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>
  <link href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.css" rel="stylesheet">
</head>


{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="https://butterfly-backup.readthedocs.io/en/latest/_static/bb_logo.svg" alt="" width="50" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="/">Butterfly Backup</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/backup">Backup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/restore">Restore</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Other
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/export">Export</a></li>
            <li><a class="dropdown-item" href="/archive">Archive</a></li>
          </ul>
        </li>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}